// Index.scss
@import "./assets/scss/index";

// UI Frameworks
@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";
// @import "~bootstrap/dist/css/bootstrap.min.css";

// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);


h1 {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  font-family: "Bree Serif", "serif";
}

