<div class="container">
  <h1>Eventos <span class="qtd">({{ eventos.length }})</span></h1>

  <table class="table-fill">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Data</th>
        <th>Preço</th>
      </tr>
    </thead>
    <tbody class="table-hover">
        <!-- {{eventos | json}} -->
      <tr *ngFor="let evento of eventos">
        <td>{{evento.descricao}}</td>
        <td>{{evento.data | date:'dd/MM/yyyy'}}</td>
        <td>{{evento.preco | currency: 'R$'}}</td>
      </tr>
    </tbody>
  </table>

</div>
