<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>DinoList | Eventos</title>
  </head>
  <body class="listar-wrapper">
    <main class="lista">
      <div id="container">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/eventos">Lista de Eventos</a></li>
            <li><a href="/eventos/novo">Cadastro de Eventos</a></li>
            <li><a href="/usuarios/novo">Cadastro de Usuários</a></li>
          </ul>
          <span class="logout"><a href="/logout">Sair</a></span>
        </nav>
        <h1>Lista de Eventos</h1>
        <p>
          Bem-vindx, 
          <span class="user"><%= user.nome %></span>
          <i class="fas fa-user"></i>
        </p>
      </div>
      <table class="table-fill">
        <thead>
          <tr>
            <th class="text-left">Descrição</th>
            <th class="text-left">Data</th>
            <th class="text-left">Preço</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <tr>
            <td class="text-left">Hackathon</td>
            <td class="text-left">21/02/2022</td>
            <td class="text-left">R$ 50,00</td>
          </tr>
          <tr>
            <td class="text-left">Startup Weekend</td>
            <td class="text-left">13/03/2022</td>
            <td class="text-left">R$ 70,00</td>
          </tr>
        </tbody>
      </table>
    </main>
    <footer>
      <p>Desenvolvido com &hearts;	por 
        <a href="https://github.com/samantafluture/">Samanta Fluture</a>
      </p>
    </footer>
  </body>
</html>
