<div class="container">
  <h1>Usuários</h1>

  <table class="table-fill">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Senha</th>
      </tr>
    </thead>
    <tbody class="table-hover">
      <!-- {{usuarios | json}} -->
      <!-- <tr *ngFor="let usuario of usuarios"> -->
      <!-- <td>{{ usuario.nome }}</td>
        <td>{{ usuario.senha }}</td>
      </tr> -->
      <tr>
        <td>Teste</td>
        <td>Teste</td>
      </tr>
      <tr>
        <td>Teste</td>
        <td>Teste</td>
      </tr>
    </tbody>
  </table>
</div>
