<!-- <div class="container">
  <h1>Usuários</h1>

  <table class="table-fill">
    <thead>
      <tr>
        <th>Username</th>
        <th>Profile Pic</th>
        <th>GitHub Link</th>
      </tr>
    </thead>
    <tbody class="table-hover">
      <tr *ngFor="let usuario of usuarios">
      <td>{{ usuario.login }}</td>
      <td><img [src]="usuario.avatar_url"/></td>
      <td><a [href]="usuario.html_url">{{ usuario.html_url }}</a></td>
      </tr>
    </tbody>
  </table>
</div> -->

<h1>Usuários</h1>
<!-- <div *ngFor="let usuario of usuarios"> -->
  <section>
    <div class="card" *ngFor="let usuario of usuarios">
      <img
        [src]="usuario.avatar_url"
        class="card-img-top"
        alt="foto perfil github"
      />
      <div class="card-body">
        <h5 class="card-title">{{ usuario.login }}</h5>
        <a [href]="usuario.html_url" class="btn btn-primary">Ver perfil</a>
      </div>
    </div>
</section>
<!-- </div> -->