<div class="container">
  <h1>Usuários</h1>

  <table class="table-fill">
    <thead>
      <tr>
        <th>Username</th>
        <th>Profile Pic</th>
        <th>GitHub Link</th>
      </tr>
    </thead>
    <tbody class="table-hover">
      <!-- {{usuarios | json}} -->
      <tr *ngFor="let usuario of usuarios">
      <td>{{ usuario.login }}</td>
      <td><img [src]="usuario.avatar_url"/></td>
      <td><a [href]="usuario.html_url">{{ usuario.html_url }}</a></td>
      </tr>
      <!-- <tr>
        <td>Teste</td>
        <td>Teste</td>
      </tr>
      <tr>
        <td>Teste</td>
        <td>Teste</td>
      </tr> -->
    </tbody>
  </table>
</div>
