<!DOCTYPE html>
<html lang="en" ng-app="appAngular">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Eventos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link href="./images/favicon.ico" rel="icon" type="image/x-icon" />
</head>

<body ng-controller="CTLprincipal as ctl">

    <h1>
        <span class="blue">&lt;</span>Lista<span class="blue">&gt;</span> <span class="yellow">de Eventos</pan>
    </h1>
    <h2>
        Criado com &hearts; por <a href="https://github.com/pablorgarcia" target="_blank">Samanta Fluture</a>
    </h2>

    <table class="container">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Data</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="evento in ctl.listaEventos">
                <td>{{ evento.descricao }}</td>
                <td>{{ evento.data | date:'dd/MM/yyyy' }}</td>
                <td>{{ evento.preco | currency: 'R$'}}</td>
            </tr>
        </tbody>
    </table>
</body>

<script>
    
    var app = angular.module("appAngular", []);

    app.controller("CTLprincipal", ['$http', function($http) {
        
        var self = this;        
        self.listaEventos = [];

        var listarEventos = function() {
            return $http.get('http://localhost:3200/eventos')
                .then(function(resposta) {                    
                    console.log(resposta.data);
                    self.listaEventos = resposta.data;
                }, function(erro) {
                    console.log(erro)
                    alert('Acontece um erro');
                })
        }
        listarEventos();
    }])

</script>

</html>